*{margin: 0; padding: 0;}
body{background-color: rgb(224, 224, 224);}

#con1{width: 1320px; margin: 0 auto;}
#con1 img{width: 100%; display: block;}

.top{width: 100px; position: fixed; bottom: 100px; right: 50px;}
.home{width: 100px; position: fixed; bottom: 50px; right: 50px;}